/* Your application styles go here */

.centered {
  text-align: center;
}

.big {
  font-size: 30px;
}

.huge {
  font-size: 100px;
}

.gigantic {
  font-size: 200px;
}

.modal{
  top: 0 ;
  bottom: 0 ;
  left: 0 ;
  right: 0 ;
  width: 100% ;
}
