<ion-view title="Add Answer">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="closeAnswer()">Done</button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div ng-if="question">
      <div class="padding">
        <h3>{{question.text}}</h3>
      </div>
      <button class="button button-full button-light" ng-repeat="(key, response) in question.responses" ng-click="saveResponse(question.uid, key)">
        {{response}}
      </button>
    </div>
    <div ng-if="!question" class="centered padding">
      <br>
      <h4>You've answered all the questions, you rockstar you.</h4>
      <br>
      <button class="button button-positive" ng-click="closeAnswer()">Done!</button>
    </div>
  </ion-content>
</ion-view>
