<ion-view title="Browse">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="row row-center centered">
      <div class="col col-center">
        I am <button class="button button-light">
          not ready
        </button> to help<br><br>
        Need help?<br><br>
        <button class="button button-positive">
          <i class="icon ion-fireball"></i> Light Beacon
        </button>
      </div>
    </div>
  </ion-content>

</ion-view>
